* {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 540px;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5 arial, tahoma, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

ul,
ol {
  list-style: none;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}

fieldset,
img {
  border:0;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

small {
  font-size: 12px;
}

legend {
  color: #000;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
